.stats-teaser__grid {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-gap: 0.5rem;

    & .stats-teaser__streak {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0.5rem;
        color: var(--text-invert);
        background: linear-gradient(
            180deg,
            var(--purple-light) 0%,
            var(--purple-dark) 100%
        );

        & span:last-child {
            font-size: 1.25rem;
        }
    }

    .stats-teaser__streak-title {
        font-size: 0.825rem;
        font-weight: 600;
    }
}

.stats-teaser__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.stats-teaser__list-item {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;

    .stats-teaser__list-item-title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & span:first-child {
            color: var(--text-light);
            font-weight: 400 !important;
            font-size: 0.825rem;
        }
    }
}
