.card {
    background-color: var(--background-layer);
    border-radius: var(--radius);
    padding: var(--gap);
    box-shadow: var(--box-shadow);

    &.secondary {
        background-color: var(--background-layer-sec);
        box-shadow: none;
        color: var(--text-light);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem var(--gap);
        gap: 0.25rem;
        text-align: center;
        line-height: 1.4;
    }
}
