
.popup {
    position: absolute;
    background-color: var(--background-layer-sec);
    border-radius: var(--radius);
    padding: 0.75rem;
    bottom: 30px;
    margin: 0 0.5rem;
    left: 0;
    width: fit-content;
    max-width: 600px;
    min-width: 200px;
    box-shadow: var(--box-shadow);
    display: block;
    z-index: 100;
    text-transform: none;
    line-height: 1.4;

    pointer-events: none;
    transform-origin: bottom center;
    transition: none;
}

.info-trigger {
    position: relative;
    .tool-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--background-layer-sec);
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.backdrop {
    position: fixed;
    inset: 0;
    z-index: 1000; /* transparent but catches clicks */
    background: transparent;
    cursor: default;
}
