@mixin circle-progress() {
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
}

.circle-progress__background {
    @include circle-progress();
    stroke: var(--progress-bg-round);
}

.circle-progress__foreground {
    @include circle-progress();
}

.circle-progress__number {
    font-size: 2.25rem;
    font-weight: 700;
    fill: var(--text-sec);
}
