.habit-graph span {
    display: flex;
    justify-content: center;
}

.habit-graph__card {
    line-height: 1.4;
    padding: 1.25rem 1rem 0.75rem 1rem;
}

.graph-icon {
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    padding: var(--gap);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    background-color: var(--progress-bg-round);
    color: var(--text-light);
}

.graph-modes {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    border-radius: 50px;
    background-color: var(--background-layer-sec);
    overflow: hidden;

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: var(--purple-dark);
        border-radius: inherit;
        transition: left 0.3s ease, width 0.3s ease;
        z-index: 0;
    }

    button {
        position: relative;
        z-index: 1;
        padding: 0.5rem 1rem;
        background-color: transparent;
        color: var(--text);
        border: none;
        min-width: 100px;
        cursor: pointer;
        transition: color 0.3s ease;

        &.active {
            color: var(--text-invert);
        }
    }
}
