.habit-card {
    position: relative;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    padding: 0.75rem;
    background: var(--background-layer);
    min-height: 7rem;
    overflow: hidden;

    .habit-card__icon {
        display: flex;
        align-items: center;


        &::before, &::after {
            content:"";
            position: absolute;
            left: -6rem;
            width: 11rem;
            height: 11rem;
            background: var(--purple-dark);
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
        }

        &::before {
            z-index: 1;
            opacity: 0.1;
            left: -6.5rem;
            top: 60%;
        }

        &::after {
            z-index: 2;
            opacity: 0.05;
        }

        & svg {
            z-index: 3;
        }
    }

    .habit-card__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--text-invert);

        svg {
            font-size: 1rem;
            vertical-align: bottom;
        }

        .habit-card__info, .habit-card__progress{
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
        }
    }

    .habit-card__week {
        display: flex;
        justify-content: flex-start;
        gap: 0.25rem;
        align-items: center;
        font-size: 0.75rem;
        color: var(--text-light);

        & .habit-card__day{
            padding: 0.25rem 0.35rem;

            &.active{
                border: 1px solid var(--purple-dark);
                color: var(--text-invert);
                border-radius: 0.25rem;
            }
        }
    }
}

.habit-card__stats{
    display: flex;
    justify-content: space-between;
}

.habit-card__title{
    font-size: 1.25rem;
    font-weight: 700;
}
