.habit-card {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 6px;
    background: linear-gradient(90deg, var(--purple-dark) 0%, rgba(0, 0, 0, 0) 400%);

    .habit-card__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 0.5rem;
        color: var(--text-invert);

        svg {
            font-size: 1rem;
            transform: translate(0, 1px);
        }
    }

    .habit-card__icon {
        z-index: 2;
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        transform: translate(0, -1rem);
        margin-bottom: -1rem;

        & svg {
            height: 80% !important;
            width: 80% !important;
        }
    }

    .habit-card__line {
        grid-column: span 2;
        height: 1px;
        width: 100%;
        background-color: var(--text-invert);
    }

    .habit-card__week {
        grid-column: span 2;
        display: flex;
        gap: 0.5rem;
        justify-content: end;
        align-items: center;
        font-size: 0.75rem;
        color: var(--text-light);

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.25rem;
            border-radius: 0.25rem;
            text-align: center;
            margin-bottom: -2px;
        }

        span.active {
            position: relative;
            color: var(--text-invert);

            padding: 0 0.25rem;
            border: 1px solid var(--text-invert);
        }
    }
}
