:root {
    //disable scrollbar
    scrollbar-width: none;

    //font

    --font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;

    --text: #ffffff;
    --text-invert: #ffffff;
    --text-sec: #cabbfb;
    --text-light: #b2c0cb;

    // ui

    --background-base: #12151a;
    --background-layer: #1c2028;
    --background-layer-sec: #3c4953;

    --purple-dark: #9a98ef;
    --purple-light: #cabbfb;
    --blue-dark: #93cff5;
    --blue-light: #bbe5ff;
    --box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    --ease: cubic-bezier(0.14, 0.8, 0.4, 1);
    --radius: 0.5rem;

    --progress-bg: #12151a;
    --progress-bg-round: #2a2e38;

    --navbar-height: 5rem;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

[data-theme="light"] {
    //text
    --text: #383838;
    --text-invert: #ffffff;
    --text-sec: #9a98ef;
    --text-light: #66747e;

    // ui

    --background-base: #f6f8ff;
    --background-layer: #ffffff;
    --background-layer-sec: #daeffd;

    --purple-dark: #9a98ef;
    --purple-light: #cabbfb;
    --blue-dark: #93cff5;
    --blue-light: #bbe5ff;
    --box-shadow: 0px 2px 8px 0px hsla(241, 42%, 71%, 0.25);

    --progress-bg: #eaeaf3;
    --progress-bg-round: #eaeaf3;
}

* {
    box-sizing: border-box;
    background: none;
    border: none;
    outline: inherit;
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-base);
    color: var(--text);
    min-height: 100svh;
    height: 100%;

    transition: background-color 0.3s var(--ease), color 0.3s var(--ease);
}

main {
    position: relative;
    padding-bottom: var(--navbar-height);
    min-height: 100svh;
    height: 100%;
    margin-top: 33svh;
    background-color: var(--background-base);

    &::before {
        content: "";
        position: absolute;
        top: calc(-2rem + 1px);
        left: 0;
        right: 0;
        z-index: 1;
        background-color: var(--background-base);
        border-radius: 2rem 2rem 0 0;
        padding: 1rem 0;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 0.75rem;
    margin-bottom: 1rem;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.blue {
    color: var(--blue-dark) !important;
}

.purple {
    color: var(--text-sec) !important;
    fill: var(--text-sec) !important;
}

.gray {
    color: var(--text-light) !important;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 0 2rem;
    }
}
