:root {
    //disable scrollbar
    scrollbar-width: none;
    -webkit-tap-highlight-color: transparent;

    //font

    --font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;

    --text: #ffffff;
    --text-invert: #ffffff;
    --text-sec: #cabbfb;
    --text-light: rgb(182, 182, 182);
    --error: #e57373;
    --success: #41cf48;

    // ui

    --background-base: #12151a;
    --background-base-trans: #12151aaa;
    --background-layer: #1c2028;
    --background-layer-sec: #3c4953;
    --background-layer-light: #22252d;

    --disabled: rgb(182, 182, 182);

    --purple-dark: #9a98ef;
    --purple-light: #b6b5ee;
    --blue-dark: #9bc1ff;
    --blue-light: #b9d3ff;

    --shadow: rgba(0, 0, 0, 0.25);
    --box-shadow: 0px 2px 8px 0px var(--shadow);
    --ease: cubic-bezier(0.14, 0.8, 0.4, 1);
    --radius: 0.5rem;

    --progress-bg: #12151a;
    --progress-bg-round: #2a2e38;

    --navbar-height: 5rem;
    --gap: 0.5rem;
    --error: tomato;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

[data-theme="light"] {
    //text
    --text: #383838;
    --text-invert: #ffffff;
    --text-sec: #9a98ef;
    --text-light: #66747e;

    --background-base: #f6f8ff;
    --background-base-trans: #f6f8ffaa;
    --background-layer: #ffffff;
    --background-layer-sec: #e3ecff;
    --background-layer-light: #ffffff;

    --shadow: hsla(241, 42%, 71%, 0.1);
    --box-shadow: 0px 2px 8px 0px var(--shadow);

    --progress-bg: #eaeaf3;
    --progress-bg-round: #eaeaf3;

    .react-modal-sheet-container {
        background-color: var(--background-base) !important;
    }

    input {
        background-color: var(--background-layer-light);
    }
}

* {
    box-sizing: border-box;
    background: none;
    border: none;
    outline: inherit;
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-base);
    color: var(--text);
    min-height: 62dvh;
    height: 100%;
    scrollbar-color: var(--background-layer-sec) transparent;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    position: relative;
}

main {
    position: relative;
    padding-bottom: calc(var(--navbar-height) + 4rem);
    padding-top: 1rem;
    min-height: 62dvh;
    height: 100%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    margin-top: 38dvh;
    background-color: var(--background-base);
    z-index: 2;
    max-width: 800px;
    will-change: transform;
    transform: translateZ(0);

    @media screen and (min-width: 800px) {
        top: 38dvh;
        height: fit-content;
        bottom: calc(var(--navbar-height));
        background-color: var(--background-base-trans);
        backdrop-filter: blur(15px);
        border: var(--background-base) 2px solid;
        padding: 3rem 1rem calc(var(--navbar-height) + 4rem) 1rem;
        margin: 0 auto;
    }
}

button,
a {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 0.75rem;
    padding-top: 0.25rem;
    margin-bottom: 2rem;
    gap: 1rem;

    @media screen and (min-width: 800px) {
        padding: 0 1rem;
        max-width: 800px;
        margin: 0 auto;
    }
}

.react-modal-sheet-container {
    background-color: var(--background-layer) !important;
    max-width: 100dvw !important;
}

.react-modal-sheet-scroller {
    padding-top: 1.25rem;
}

.container--full {
    margin: 0;
    min-height: 100dvh;
    padding: 2rem 0.75rem;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.blue {
    color: var(--blue-dark) !important;
}

.purple {
    color: var(--text-sec) !important;
    fill: var(--text-sec) !important;
}

.gray {
    color: var(--text-light) !important;
}

.link-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.25rem;
    margin-top: -0.25rem;

    .primary {
        color: var(--text-sec);
    }

    .delete {
        color: var(--error);

        svg {
            font-size: 1.25rem;
        }
    }
}

.pointer {
    cursor: pointer;
}

.back {
    color: var(--purple-dark);
    padding: 0.5rem 1rem 1rem 0.5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.Toastify__toast-container--top-center {
    margin-top: 0.25rem;
    gap: 0.25rem;
}

.Toastify__toast-theme--light {
    background: linear-gradient(145deg, var(--purple-dark) 0%, var(--blue-light) 100%);
    color: var(--text-invert) !important;
    font-size: 0.9rem !important;
    max-width: 15rem !important;
    border-radius: 20rem !important;
    line-height: 1.2;
}

.Toastify__toast-icon {
    --toastify-icon-color-success: var(--text-invert) !important;
}

.Toastify__toast {
    flex-direction: row !important;
    align-items: center !important;
    gap: 0.2rem !important;
    padding: 0.25 0.5rem !important;
}

.Toastify__close-button {
    display: none;
}

@keyframes Toastify__fadeIn {
    0% {
        transform: translateY(-10rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0) !important;
        opacity: 1;
    }
}

.Toastify_fadeOut {
    animation: Toastify__fadeOut 0.3s var(--ease) both;
}

@keyframes Toastify__fadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-10rem);
        opacity: 0;
    }
}

.Toastify_fadeIn {
    animation: Toastify__fadeIn 0.3s var(--ease) both;
}

.privacy-policy-content {
    line-height: 1.8;

    & p {
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }
}

.privacy-policy-button {
    background-color: var(--background-layer);
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    position: relative;

    & .privacy-policy-button__icon {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
    }
}