:root {
    //disable scrollbar
    scrollbar-width: none;
    -webkit-tap-highlight-color: transparent;

    //font

    --font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;

    --text: #ffffff;
    --text-invert: #ffffff;
    --text-sec: #cabbfb;
    --text-light: rgb(182, 182, 182);
    --error: #e57373;

    // ui

    --background-base: #12151a;
    --background-base-trans: #12151aaa;
    --background-layer: #1c2028;
    --background-layer-sec: #3c4953;
    --background-layer-light: #22252d;

    --disabled: rgb(182, 182, 182);

    --purple-dark: #9a98ef;
    --purple-light: #B6B5EE;
    --blue-dark: #9bc1ff;
    --blue-light: #b9d3ff;

    --shadow:  rgba(0, 0, 0, 0.25)
    --box-shadow: 0px 2px 8px 0px var(--shadow);
    --ease: cubic-bezier(0.14, 0.8, 0.4, 1);
    --radius: 0.5rem;

    --progress-bg: #12151a;
    --progress-bg-round: #2a2e38;

    --navbar-height: 5rem;
    --gap: 0.5rem;
    --error: tomato;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

[data-theme="light"] {
    //text
    --text: #383838;
    --text-invert: #ffffff;
    --text-sec: #9a98ef;
    --text-light: #66747e;

    --background-base: #f6f8ff;
    --background-base-trans: #f6f8ffaa;
    --background-layer: #ffffff;
    --background-layer-sec: #e3ecff;
    --background-layer-light:  #ffffff;

    --shadow: hsla(241, 42%, 71%, 0.10);
    --box-shadow: 0px 2px 8px 0px var(--shadow);

    --progress-bg: #eaeaf3;
    --progress-bg-round: #eaeaf3;

    .react-modal-sheet-container {
        background-color: var(--background-base)!important;
    }

    input {
        background-color: var(--background-layer-light);
    }
}

* {
    box-sizing: border-box;
    background: none;
    border: none;
    outline: inherit;
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-base);
    color: var(--text);
    min-height: 62dvh;
    height: 100%;
    scrollbar-color: var(--background-layer-sec) transparent;
    scroll-behavior: smooth;
    scrollbar-width: thin;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

}

main {
    position: relative;
    padding-bottom: var(--navbar-height);
    min-height: calc(62dvh - 2rem);
    height: 100%;
    width: 100%;
    margin-top: 38dvh;
    background-color: var(--background-base);
    @media screen and (min-width: 800px) {
        background-color: var(--background-base-trans);
        backdrop-filter: blur(10px);
        
    }

    &::before {
        content: "";
        position: absolute;
        top: calc(-1rem + 1px);
        left: 0;
        right: 0;
        z-index: 1;
        background-color: var(--background-base);
        border-radius: 2rem 2rem 0 0;
        padding: 0.5rem 0;
    }

    @media screen and (min-width: 800px) {
        max-width: 800px;
        padding: 0 1rem;
        margin: 30dvh auto 0 auto;
    }
    
}

button, a {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 0.75rem;
    padding-top: 0.25rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

.react-modal-sheet-container {
    background-color: var(--background-layer) !important;
}

.react-modal-sheet-scroller {
    padding-top: 1.25rem;
}

.container--full {
    margin: 0;
    min-height: 100dvh;
    padding: 2rem 0.75rem;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.blue {
    color: var(--blue-dark) !important;
}

.purple {
    color: var(--text-sec) !important;
    fill: var(--text-sec) !important;
}

.gray {
    color: var(--text-light) !important;
}

.link-header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 0 0.25rem;
    margin-top: -0.25rem;
    
    .primary {
        color: var(--text-sec);
    }

    .delete {
        color: var(--error);

        svg {
            font-size: 1.25rem;
        }
    }
}

.pointer {
    cursor: pointer;
}

.back{
    color: var(--purple-dark);
    padding: 0.5rem 1rem 1rem 0.5rem;
}
