@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.fst--base {
    color: inherit;
    font-size: 0.825rem;
    font-weight: 400;
}

.fst--base-bold {
    color: inherit;
    font-size: 0.825rem;
    font-weight: 600;
}

.fst--tag {
    color: var(--text-sec);
    font-size: 1rem;
}

.fst--big-number {
    font-size: 3rem;
    font-weight: 600;
}

.fst--page-heading {
    color: var(--text-invert);
    font-size: 1.5rem;
    font-weight: 600;
}

.fst--section-heading {
    color: inherit;
    font-size: 1rem;
    font-weight: 600;
}

.fst--card-title {
    color: inherit;
    font-size: 1rem;
    font-weight: 600;
}

.fst--upper-heading {
    color: inherit;
    font-size: 0.825rem;
    font-weight: 400;
}

.title-and-button {
    display: flex;
    justify-content: space-between;

    button {
        color: var(--text-sec);
        font-size: 1rem;
        padding-right: 0.25rem;
    }
}
