@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.fst--base {
    color: inherit;
    font-size: 0.75rem;
    font-weight: 400;
}

.fst--base-bold {
    color: inherit;
    font-size: 0.75rem;
    font-weight: 700;
}

.fst--tag {
    color: var(--purple-dark);
    font-size: 1rem;
}

.fst--big-number{
    color: var(--text);
    font-size: 3rem;
    font-weight: 700;
}

.fst--page-heading {
    color: var(--text-invert);
    font-size: 1.5rem;
    font-weight: 700;
}

.fst--section-heading {
    color: inherit;
    font-size: 1rem;
    font-weight: 700;
}

.fst--upper-heading {
    color: var(--text-invert);
    font-size: 0.75rem;
    font-weight: 400;
}