.daily-habits__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.daily-habits__icons {
    font-size: 1.4rem;
    color: var(--blue-dark);
}

.daily-habits__add-new{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 2rem;
    background: linear-gradient(45deg, var(--purple-dark), var(--blue-dark));
    border-radius: var(--radius);

    & svg {
        fill: var(--text-invert);
    }
}
