.daily-progress__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    align-items: end;
    text-align: center;
    padding-bottom: 0.25rem;
}

.daily-progress__number {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.daily-progress__stats {
    padding-bottom: 0.5rem;
}
