@keyframes wave {
    0%,
    90% {
        clip-path: polygon(
            0% 100%,
            100% 100%,
            100% 0%,
            34% 0%,
            31% 3%,
            28% 11%,
            27% 23%,
            24% 31%,
            20% 36%,
            17% 46%,
            15% 57%,
            13% 64%,
            10% 70%,

            2% 91%
        );
    }
    50% {
        clip-path: polygon(
            0% 100%,
            100% 100%,
            100% 0%,
            34% 0%,
            32% 11%,
            29% 18%,
            26% 23%,
            23% 29%,
            19% 40%,
            17% 51%,
            14% 61%,
            10% 66%,
            7% 78%,
            4% 94%
        );
    }

    100% {
        clip-path: polygon(
            0% 100%,
            100% 100%,
            100% 0%,
            34% 0%,
            0 0,
            0 3%,
            0 12%,
            0 21%,
            0 32%,
            0 44%,
            0 56%,
            0 66%,
            0 76%,
            0 88%
        );
    }
}

.habit {
    position: relative;
    display: flex;
    gap: 0.75rem;
    cursor: pointer;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 140%;
        height: 200%;
        transform: translate(200%, -50%);
        transition: all 1s var(--ease);

        background: linear-gradient(
            115deg,
            var(--purple-dark) 0%,
            var(--blue-light) 100%
        );
        z-index: 1;
    }

    &.finished {
        align-items: center;

        &::after {
            animation: wave 1.4s;
            transform: translate(-20%, -50%);
        }
    }
}

.habit__icon {
    z-index: 2;
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        115deg,
        var(--purple-dark) 0%,
        var(--purple-light) 100%
    );
    border-radius: calc(var(--radius) / 2);

    & svg {
        height: 50% !important;
        width: 50% !important;
    }
}

.habit__content {
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8125rem;
    flex: 1;
    transition: gap 0.4s var(--ease);
    padding-top: 0.25rem;

    &.finished {
        gap: 0;
    }
}

.habit__info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 1s var(--ease);

    .habit__add {
        margin-right: 0.5rem;

        &::before {
            content: "";
            position: absolute;
            top: 1rem;
            right: 1rem;
            z-index: -1;
            border-radius: 50%;

            width: 4px;
            height: 4px;
            transition: all 0.4s var(--ease);
            background-color: var(--blue-light);
            opacity: 0.8;
        }

        &::after {
            content: "";
            position: absolute;
            top: 1rem;
            right: 1rem;
            z-index: -1;
            border-radius: 50%;

            width: 4px;
            height: 4px;
            transition: all 0.8s var(--ease);
            background-color: var(--blue-light);
            opacity: 0.8;
        }

        &:hover {
            &::before {
                transform: scale(100);
                opacity: 0;
            }

            &::after {
                transform: scale(80);
                opacity: 0;
            }
        }
    }

    .finished {
        color: var(--text-invert);
    }
}

.habit__title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: color 1s var(--ease);
}

.habit__progress {
    position: relative;
    height: 0.375rem;
    border-radius: 0.25rem;
    background: linear-gradient(
        90deg,
        var(--purple-light) 0%,
        var(--blue-light) 100%
    );
    width: 100%;

    &.finished {
        height: 0;
    }

    & .habit__progress-cover {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        background-color: var(--progress-bg);
        transition: width 0.5s var(--ease);
    }
}
