.habit-heatmap span {
    display: flex;
    justify-content: center;
}

.habit-calendar__card {
    padding: 0;
}

.MuiDateCalendar-root {
    padding: 0 var(--gap) !important;
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 400px !important;
    font-family: var(--font-family) !important;

    .MuiPickersCalendarHeader-root {
        color: var(--text) !important;
        padding: 0 0.75rem !important;

        .MuiPickersCalendarHeader-labelContainer .MuiPickersCalendarHeader-label {
            font-size: 1rem !important;
            font-weight: 600 !important;
            font-family: var(--font-family) !important;
        }
    }

    .MuiDayCalendar-weekContainer {
        display: grid !important;
        grid-template-columns: repeat(7, 1fr) !important;
        padding: 0 0.25rem !important;

        .MuiButtonBase-root {
            color: var(--text) !important;
            padding-top: 0.125rem !important;
        }
    }

    .MuiBadge-badge {
        transform: translate(3px, -4px) !important;
        font-size: 0.5rem !important;
    }

    .MuiPickersCalendarHeader-root {
        margin-top: 0.75rem !important;
    }

    .MuiDayCalendar-header {
        display: grid !important;
        grid-template-columns: repeat(7, 1fr) !important;
        padding: 0 0.25rem !important;

        border-bottom: 1px solid var(--progress-bg-round) !important;
        border-top: 1px solid var(--progress-bg-round) !important;

        span {
            color: var(--text-sec) !important;
            font-family: var(--font-family) !important;
        }
    }

    .MuiPickersDay-today {
        border: 1px solid var(--text-sec) !important;
    }

    .MuiPickersArrowSwitcher-root {
        & svg {
            color: var(--text) !important;
        }

        .Mui-disabled svg {
            fill: var(--progress-bg-round) !important;
        }
    }

    .MuiBadge-root .MuiButtonBase-root {
        font-family: var(--font-family) !important;
        margin: 1px 0 !important;
        height: 2.125rem !important;
        width: 2.125rem !important;
    }

    .completed {
        background-color: var(--purple-light) !important;
        background: linear-gradient(150deg, var(--purple-dark) -120%, transparent 200%) !important;
    }
}
