.streak-progress__container {
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
    padding: 0 2rem;
    background-color: var(--background-layer-sec);
    border-radius: 2rem;
}
