[data-theme="light"] {
    .linear-progress.switch-color {
        background: var(--background-layer);

        .linear-progress-cover {
            background-color: rgba(255, 255, 255, 0.1);

            &::before {
                background-image: var(--background-layer);
            }
        }
    }
}

.linear-progress {
    content: "";
    z-index: 2;
    --_bar-height: 0.375rem;
    position: relative;
    height: var(--_bar-height);
    border-radius: var(--_bar-height);
    background: linear-gradient(90deg, var(--purple-dark) 0%, var(--blue-light) 100%);
    width: 100%;
    overflow: hidden;

    & .linear-progress-cover {
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        box-shadow: 0 0 1px 1px var(--progress-bg) inset, 0 0 1px 1px var(--progress-bg);
        background-color: var(--progress-bg);
        transition: width 0.5s var(--ease);

        &::before {
            content: "";
            z-index: 0;
            position: absolute;
            top: 0;
            left: -4px;
            height: calc(var(--_bar-height) / 2);
            width: calc(var(--_bar-height) / 2);
            border-top-right-radius: 3px;
            background-color: transparent;
            box-shadow: 1px 0 0 0 var(--progress-bg);
        }

        &::after {
            content: "";
            z-index: 0;
            position: absolute;
            bottom: 0;
            left: -4px;
            height: calc(var(--_bar-height) / 2);
            width: calc(var(--_bar-height) / 2);
            border-bottom-right-radius: 3px;
            background-color: transparent;
            box-shadow: 1px 0 0 0 var(--progress-bg);
        }
    }
}
